@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Josefin+Sans:wght@700&family=Oswald:wght@500&family=Roboto:wght@300&display=swap');

* {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	box-sizing: border-box;
}

/* Major global changes */
body {
	background-color: #F7EBE8;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#app {
	position: absolute;
	width: 100%;
	height: 100%;
}
ul {
  list-style: none;
	padding-left: 0px;
}

button {
	border: none;
	outline: none;
	padding: 6px 12px;
	font-size: 12px;
	text-transform: uppercase;
	background-color: #FFA987;
	color: #1E1E24;
	border-radius: 0.5em;
	overflow: hidden;
	cursor: pointer;
	margin: 2em 0.5em;
	opacity: 80%;
}

button:hover{
	background-color: #E54B4B;
	color: #F7EBE8;
	opacity: 100%;
}

/* NavBar features */
nav {
	display: grid;
	grid-row: 1;
	grid-gap: 1em;
	z-index: 5;
	width: 100%;
	height: 5em;
	background: #1D3557;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	top: 0;
	left: 0;
	margin: 0;
	position: absolute;
}

h1 {
	display: grid;
	grid-row: inherit;
	font-size: 3em;
	justify-content: center;
	align-items: center;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
	margin: 0.4em;
}

/* NavBar settings */
nav ul {
	top: 0em;
	position: absolute;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
}

nav ul li {
	margin: 0.7em;
	width: 5em;
	height: 2em;
	background: #FFA987;
	color: #1E1E24;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	box-sizing: border-box;
	border-radius: 0.5em;
	font-family: Roboto, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}

nav ul li:hover{
	font-weight: bold;
	background-color: #E54B4B;
	color: #F7EBE8;
	box-sizing: border-box;
	cursor: pointer;
}

nav ul li a:active{
	color: rgb(254, 251, 204);
	text-decoration: none;
}

/* Class-specific styles */


/* main div which all other items render within */
.container {
	top: 5em;
	position: absolute;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* click to add folders uploader button */
.uploader__icon-area {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
}

.uploader__icon {
	flex: 0 0 auto;
	width: 90px; 
}

.uploader__area__text {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: bold; 
}

.uploader__button-area {
	flex: 0 0 auto;
	text-align: center;
}

.uploader__button {
	border: none;
	outline: none;
	padding: 6px 12px;
	font-size: 12px;
	text-transform: uppercase;
	overflow: hidden;
	cursor: pointer; 
}

/* folders display */
.folders {
	flex: 0 0 auto;
	width: 50vw;
	background-color: #cde5e6;
	color: #1D3557;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
}

.app__folders__item {
	display: flex;
	align-items: center;
	overflow: hidden;
	margin: .5em 0;
	padding: .2em .5em;
}

.app__files__item__info {
	flex: 1 1 auto;
	margin: 0 20px;
	overflow: hidden; 
}

.app__files__item__info__name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0; }
	.app__files__item__info__size {
		font-size: 12px;
		color: #1D3557;
		margin: .2em 0;
}

img {
	flex: 0 0 auto;
	width: 16px;
	margin: 0 .2em;
	cursor: pointer; 
}

.app__files__item:not(:last-child) {
	margin-bottom: 20px; 
}

/* diagram features */
.react-flow {
	overflow-wrap: anywhere;
}

.react-flow-fix {
	position: unset !important;
}

.react-flow__renderer {
	top: 5em !important;
}

.react-flow__controls {
	opacity: 80%;
	box-shadow: 0 0 0.2em darkgrey;
}
.react-flow__controls:hover {
	opacity: 100%;
}

.react-flow__minimap {
	opacity: 80%;
	box-shadow: 0 0 0.2em darkgrey;
	border-radius: 0.5em;
}
.react-flow__minimap:hover {
	opacity: 100%;
}

.controls {
	justify-content: center;
	margin-top: 5em;
	z-index: 6;
	position: absolute;
	width: 100%;
	align-items: center;
	display: inline-flex;
}

.main-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.top-container {
	width: 100%;
	height: 5em;
}

.body-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

#menu {
	display: flex;
  flex-direction: column;
  height: 100%;
	width: 200px;
	color:rgb(214, 214, 214);
	background-color: #1D3557;
	z-index: 5;
}

.control-menu {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

ul.control-menu li {
	width: 100%;
	padding: 12px 15px;
	color:rgb(214, 214, 214);
}

ul.control-menu li:hover {
	background:rgba(0, 0, 0, 0.4);
	color: white;
}

.active-li {
	background: rgba(0, 0, 0, 0.4) !important;
	font-weight: bold;
}

.notactive-li{
	font-weight: none;
}

#display {
	width: 100%;
	height: 100%;
	background-color: #F7EBE8;
	flex-direction: column;
	align-items: center;
}


.dashboard {
	padding: 20px;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat( 5, 1fr);
	grid-template-rows: repeat( 5, 1fr);
}

.card {
	border: 1px solid rgb(189, 189, 189);
	border-radius: 3px;
	display: flex;
	flex-direction: column;

}

.card-header {
	border-radius: 3px 3px 0px 0px;
	height: 2em;
	background-color:rgb(214, 214, 214);
	color: black;
	font-size: 1.2em;
	padding: 5px;
	flex-grow: 0;
}

.card-body {
	width: 100%;
	height: 100%;
	color:rgba(0, 0, 0, 0.4);
	font-size: 1.2em;
	padding: 5px;
	flex-grow: 1;
}

.card-footer {
	border-radius: 0px 0px 3px 3px;
	height: 2em;
	background-color:rgb(214, 214, 214);
	color: gray;
	font-size: 1em;
	padding: 5px;
	flex-grow: 0;
}

.totalsize-card{
	grid-column: 1 / span 5;
	grid-row: 1 / span 1;
}

.percent-bar{
	width: 100%;
	height: 30px;
	border: 1px solid gray;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.bar {
	display: flex;
	height: 30px;
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	flex-direction: row;
	justify-content: center;
}

.bundle-version-div {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
select {
	font-size: 1.5em;
	width: 200px;
	height: 40px;
	background-color: #e63946;
	color: white;
}

select option {
	font-size: 1em;
	background-color: #e63946;
	color: white;
}


.col-s1 {
	grid-column-start: 1;
}
.col-s2 {
	grid-column-start: 2;
}
.col-s3 {
	grid-column-start: 3;
}
.col-s4 {
	grid-column-start: 4;
}

.col-e2 {
	grid-column-end: 2;
}
.col-e3 {
	grid-column-end: 3;
}
.col-e4 {
	grid-column-end: 4;
}
.col-e5 {
	grid-column-end: 5;
}
.col-e6 {
	grid-column-end: 6;
}
.col-ee {
	grid-column-end: -1;
}

.row-s1 {
	grid-row-start: 1;
}
.row-s2 {
	grid-row-start: 2;
}
.row-s3 {
	grid-row-start: 3;
}
.row-s4 {
	grid-row-start: 4;
}

.row-e2 {
	grid-row-end: 2;
}
.row-e3 {
	grid-row-end: 3;
}
.row-e4 {
	grid-row-end: 4;
}
.row-e5 {
	grid-row-end: 5;
}

.row-ee {
	grid-row-end: -1;
}