@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Josefin+Sans:wght@700&family=Oswald:wght@500&family=Roboto:wght@300&display=swap');

body {
	background-color: rgb(254, 251, 204);
	font-family: "Lato", sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
}

button {
	border: none;
		  outline: none;
		  padding: 6px 12px;
		  font-size: 12px;
		  text-transform: uppercase;
		  background-color: rgb(254, 201, 176);
		  color: #fff;
		  border-radius: 3px;
		  overflow: hidden;
		  cursor: pointer; 
}

button:hover{
	background-color:rgb(242, 119, 130);
	color: rgb(107, 83, 96);
}

.button_container{
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden; 
	padding: 10px;
}

nav {
	z-index: 5;
	width: 100%;
	height: 5em;
	background: rgb(130, 178, 159);
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	top: 0;
	left: 0;
	margin: 0;
	position: absolute;
}

nav ul {
	top: 0em;
	position: absolute;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
}

h1 {
	display: flex;
	flex-direction: row;
	font-size: 3em;
	justify-content: center;
	align-items: center;
	font-family: 'Josefin Sans', sans-serif;
	color: rgb(150, 133, 211);
}

nav ul li {
	margin: 0px 5px;
	width: 100px;
	height: 20px;
	background: rgb(254, 201, 176);
	color: white;
	display: flex;
	justify-content: space-around;
	text-decoration: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}

nav ul li:hover{
	/* border: 1px solid white; */
	font-weight: bold;
	background-color:rgb(242, 119, 130);
	color: rgb(107, 83, 96);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}


nav ul li a:active{
	color: rgb(254, 251, 204);
	text-decoration: none;
}


.container {
	top: 5em;
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

}

* {
	box-sizing: border-box; }
  
  html,
  body {
	background-color: #eee;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0; }
  
.app {
	width: 100vw;
	height: 100vh;
	display: flex; 
}

.app__uploader {
	flex: 0 0 auto;
	width: 50vw;
	display: flex;
	flex-direction: column; 
}

.app__uploader--activate {
	opacity: 0.5; 
}

.uploader__icon-area {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
}

.uploader__icon {
	flex: 0 0 auto;
	width: 90px; 
}

.uploader__area__text {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: bold; 
}

.uploader__button-area {
	flex: 0 0 auto;
	text-align: center;
	padding: 30px; 
}

.uploader__button {
	border: none;
	outline: none;
	padding: 6px 12px;
	font-size: 12px;
	text-transform: uppercase;
	background-color: rgb(254, 201, 176);
	color: #fff;
	border-radius: 3px;
	overflow: hidden;
	cursor: pointer; 
}

.uploader__button:hover{
	background-color:rgb(242, 119, 130);
	color: rgb(107, 83, 96);
}

.folders {
	flex: 0 0 auto;
	width: 50vw;
	background-color: #ddd;
	color: rgb(107, 83, 96);
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto; 
}

.app__folders__item {
	display: flex;
	align-items: center;
	overflow: hidden; 
}

.app__files__item__file {
	flex: 0 0 auto;
	width: 20px; 
}

.app__files__item__info {
	flex: 1 1 auto;
	margin: 0 20px;
	overflow: hidden; 
}
.app__files__item__info__name {
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0; }
	.app__files__item__info__size {
	font-size: 12px;
	color: rgb(107, 83, 96);
	margin: 0; 
}
.app__files__item__delete {
	flex: 0 0 auto;
	width: 16px;
	cursor: pointer; 
}
.app__files__item__open {
	flex: 0 0 auto;
	width: 16px;
	margin-left: 10px;
	cursor: pointer; 
}
.app__files__item:not(:last-child) {
	margin-bottom: 20px; 
}
  
.react-flow-fix {
	position: unset !important;
}

.react-flow__renderer {
	top: 5em !important;
}

.controls {
	z-index: 5;
	top: 5em !important;
	position: absolute;
}